.login {
  position: absolute;
  top: 0;
  left: 1.5rem;
  letter-spacing: 0.03em;
}
.rectangle2 {
  border: 0;
  background-color: var(--color-gray-400);
  position: absolute;
  height: 73.97%;
  top: 26.03%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 18.75rem;
}
.wprowad-swj-login1 {
  position: absolute;
  top: 50.68%;
  left: 7.33%;
  font-size: var(--font-size-sm);
  letter-spacing: 0.03em;
  color: var(--color-gray-300);
}
.login-parent {
  align-self: stretch;
  position: relative;
  height: 4.56rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
  font-family: var(--nav);
}
