.haso1 {
  position: absolute;
  top: 0;
  left: 1.5rem;
  letter-spacing: 0.03em;
}
.rectangle1 {
  border: 0;
  background-color: var(--color-gray-400);
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  height: 3.38rem;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.wprowad-swoje-haso {
  flex: 1;
  position: relative;
  letter-spacing: 0.03em;
  margin-left: -17.37rem;
}
.frame5,
.haso-parent {
  position: absolute;
  left: 0;
  width: 18.75rem;
}
.frame5 {
  top: 1.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.haso-parent {
  top: 6.19rem;
  height: 4.56rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
  font-family: var(--nav);
}
